.smaller,
.smaller p {
  font-size: 0.75rem;
}

.item-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 24px;

  h4 {
    margin: 0;
  }
}

.item-date,
.item-city {
  font-weight: 300;
}

.item-city {
  margin-left: 1cm;
  flex-shrink: 0;
  font-size: 0.9rem;
}

.item-date {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}
