$colors: (
  'white': #ffffff,
  'black': #000000,
  'sidebar': #f4f4f4,
  'main': #ffffff,
  'header': #ffffff,
);

// Print margins (`pm` for short)
$pm-left: 1.6cm;

$header-size: 20vh;

$heading-bottom-padding: 5px;
$padding: 35px;

$border: 2px solid c(black);
